/*h1 {
    font-size: 3em;
    margin: 0.67em 0;
}

h2 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}
*/
a:active,
a:hover {
    outline: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
/*
body,
button,
input,
select,
textarea {
    font-size: 15px;
    line-height: 1.7;
    font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    line-height: 1.2;
}

h1 {
    font-weight: 300;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h3 {
    font-size: 1.17em;
    text-transform: uppercase;
}


.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}
@media only screen and (min-width: 993px) {
        .container {
            width: 70%;
        }
}

.card-reveal{
    color: #ffffff;
    background-color: rgba(0,0,0,0.7) !important;
}
div.card-reveal span.card-title{
    color: #ffffff !important;
}
.card-overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.70)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.70));

}

.card-overlay a {
    position: absolute;
    margin: 5.555555555555555%;
    left: 0;
    bottom: 0;
    width: 88.88888888888888%;
    transition: all .2s linear;
    color: #FFFFFF;
    float: left;
}

a {
    color: #005e38;
}

.card-action a {
    color: #005e38 !important;
}

.page-footer a {
    color: #fff;
}

@media only screen and (min-width: 1000px) {
    .sidebar {
        top: 6rem;
        position: relative;
    }
}

.post-meta {
    padding: 20px;
    font-size: .75em;
    line-height: 20px;
    color: #757575;
}

.meta-block {
    float: left;
    margin: 5px 20px 5px 0;
    position: relative;
}
.meta-block a {
    color: #757575;
}
.post-date {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0px;
}

.post-title {
    letter-spacing: 1px;
}

.meta-bar {
    padding-top:5px;
    padding-left:20px;
    background-color: #f8f8f8;
    color: #757575 !important;
    font-size: 1em;
    line-height: 50px;
    height:50px;
}
.page-title {
    letter-spacing: 1px;
    position: absolute;
    margin: 5.555555555555555%;
    left: 0;
    bottom: 0;
    width: 88.88888888888888%;
    float: left;
    color: #fff;
}

.btn {
    background-color: #005e38 !important;
}

.read-more {
    line-height: 16px;
    display: block;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    color: #757575 !important;
}
.thumbnail-placeholder {
    width: 100%;
    height: 15vw;
    background-color: #005e38;
}
.fancy-arrow {
    padding-left: 1em;
    transition: padding-left 100ms linear;
}*/

