.card {
  overflow: hidden;
  &.small, &.medium, &.large {
    .card-image + .card-content {
      //max-height: 40%;
    }
  }
  &.large {
    height: 600px;
  }

  .card-image {
    img {
      height: auto;
    }
  }

  .card-content {
    .card-title {
      line-height: 48px;
    }
  }

  footer {
    padding: 10px;
    background-color: color("shades", "darken-1");
  }
}

.entry-content {
  padding: 10px;
}