.card {
  overflow: hidden;
  &.small, &.medium, &.large {
    .card-image + .card-content {
      //max-height: 40%;
    }
  }
  &.large {
    height: 600px;
  }

  .card-image {
    img {
      height: auto;
    }
  }

  .card-content {
    .card-title {
      line-height: 48px;
    }
  }

  footer {
    padding: 10px;
    background-color: color("shades", "darken-1");
  }
}

.entry-content {
  padding: 10px;
}

.card-overlay {
  position:absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.70)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.70));
}

.card-bottom-text {
  position: absolute;
  margin: 5.555555555555555%;
  bottom: 0;
  transition: all .2s linear;
  color: #FFFFFF;
}