$header-text-color: #1e1e1e !default;
$primary-color: #005E38 !default;
$text-on-primary-color: #FFFFFF !default;
$secondary-color: #063359 !default;
$text-on-secondary-color: #FFFFFF !default;
$success-color: #4CAF50 !default;
$error-color: #F44336 !default;
$link-color: #039BE5 !default;
