.link {
  @extend a;
  cursor: hand;
}

.disable-links {
  pointer-events: none;
}

// Positioning
.valign-wrapper {
  .valign {
    display: block;
  }
}

// Images
img,
video {
  height: auto;
  object-fit: cover;
  &:not(.materialboxed) {
    max-width: 100%;
  }
}

.full-width-entry-header {
  .parallax-container {
    background-color: rgba(0,0,0,0.3);
  }
}

/*********************
  Media Query Classes
**********************/
// Hide on Small
.hide-on-small-only, .hide-on-small-and-down {
  @media #{$small-only} {
    display: none !important;
  }
}

// Hide on Medium
.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}

.hide-on-med-and-up {
  @media #{$medium-and-up} {
    display: none !important;
  }
}

.hide-on-med-only {
  @media #{$medium-only} {
    display: none !important;
  }
}

// Hide on Large
.hide-on-large-and-down {
  @media #{$large-and-down} {
    display: none !important;
  }
}

.hide-on-large-and-up {
  @media #{$large-and-up} {
    display: none !important;
  }
}

.hide-on-large-only {
  @media #{$large-only} {
    display: none !important;
  }
}

// Hide on Extra Large
.hide-on-extra-large-and-down {
  @media #{$extra-large-and-down} {
    display: none !important;
  }
}

.hide-on-extra-large-and-up {
  @media #{$extra-large-and-up} {
    display: none !important;
  }
}

.hide-on-extra-large-only {
  @media #{$extra-large-only} {
    display: none !important;
  }
}

// Hide on Extra Extra Large
.hide-on-extra-extra-large-only, .hide-on-extra-extra-large-and-up {
  @media #{$extra-extra-large-only} {
    display: none !important;
  }
}

// Show on Small
.show-on-small {
  @media #{$small-only} {
    display: block !important;
  }
}

// Show on Medium
.show-on-medium {
  display: none !important;
  @media #{$medium-only} {
    display: block !important;
  }
}

.show-on-medium-and-up {
  display: none !important;
  @media #{$medium-and-up} {
    display: block !important;
  }
}

.show-on-medium-and-down {
  display: none !important;
  @media #{$medium-and-down} {
    display: block !important;
  }
}

// Show on Large
.show-on-large {
  display: none !important;
  @media #{$large-only} {
    display: block !important;
  }
}

.show-on-large-and-up {
  display: none !important;
  @media #{$large-and-up} {
    display: block !important;
  }
}

.show-on-large-and-down {
  display: none !important;
  @media #{$large-and-down} {
    display: block !important;
  }
}

// Show on Extra Large
.show-on-extra-large {
  display: none !important;
  @media #{$extra-large-only} {
    display: block !important;
  }
}

.show-on-extra-large-and-up {
  display: none !important;
  @media #{$extra-large-and-up} {
    display: block !important;
  }
}

.show-on-extra-large-and-down {
  display: none !important;
  @media #{$extra-large-and-down} {
    display: block !important;
  }
}

// Show on Extra Extra Large
.show-on-extra-extra-large-and-down {
  display: none !important;
  @media #{$extra-extra-large-and-down} {
    display: block !important;
  }
}

// Center text on mobile
.center-on-small-only {
  @media #{$small-only} {
    text-align: center;
  }
}

a {
  background-color: transparent;
  text-decoration: none;
}

.page-footer a {
  color: #fff;
}

.no-pad {
  padding: 0 !important;
}