nav {
  @media #{$medium-and-up} {
    a.button-collapse {
      display: none;
    }
  }

  // Logo
  .brand-logo {
    &:not(.center) {
      margin-left: 20px;
    }

    @media #{$small-only} {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // Navbar Links
  ul {
    li {
      &.menu-item-active {
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }

  // Navbar Search Form
  form {
    height: 100%;
  }
}
