nav {
  @media #{$medium-and-up} {
    a.button-collapse {
      display: none;
    }
  }

  // Logo
  .nav-logo {
    position: absolute;
    color: $navbar-font-color;
    display: inline-block;
    font-size: $navbar-brand-font-size;
    padding: 0;
    margin: 0 0 0 20px;
    &.center {
      left: 50%;
      transform: translateX(-50%);
    }

    @media #{$small-only}  {
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      &.left, &.right {
        padding: 0;
        transform: none;
      }

      &.left { left: 0.5rem; }
      &.right {
        right: 0.5rem;
        left: auto;
      }
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }

    img {
      height: $navbar-height;
    }
  }

  // Navbar Links
  ul {
    li {
      &.menu-item-active {
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }

  // Submenu items
  ul.dropdown-content {
    li {
      @extend .primary-lighten-3;
      background-color: transparent !important;
    }
  }

  // Navbar Search Form
  form {
    height: 100%;
  }
}

.dropdown-content {
  .menu-item {
    background: $text-on-secondary-color;
    :hover {
      background: darken($text-on-secondary-color, 5%);
    }
  }
}
