nav {
  @media #{$medium-and-up} {
    a.button-collapse {
      display: none;
    }
  }

  // Logo
  .nav-logo {
    position: absolute;
    color: $navbar-font-color;
    display: inline-block;
    font-size: $navbar-brand-font-size;
    padding: 0;
    margin-left: 20px;
    &.center {
      left: 50%;
      transform: translateX(-50%);
    }

    @media only screen and (max-width: 783px) {
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      &.left, &.right {
        padding: 0;
        transform: none;
      }

      &.left { left: 0.5rem; }
      &.right {
        right: 0.5rem;
        left: auto;
      }
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }

    i,
    [class^="mdi-"], [class*="mdi-"],
    i.material-icons {
      float: left;
      margin-right: 15px;
    }
  }

  // Navbar Links
  ul {
    li {
      &.menu-item-active {
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }

  // Navbar Search Form
  form {
    height: 100%;
  }
}
