h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  clear: both;
  letter-spacing: .5px;
  line-height: 1.2;
  color: $header-text-color;
  a {
    color: $header-text-color;
  }
}

h1 { font-size: $h1-fontsize; line-height: 110%; margin: 0.67em 0; font-weight: 300;}
h2 { font-size: $h2-fontsize; line-height: 110%; margin: 0.67em 0;}
h3 {
  font-size: $h3-fontsize;
  line-height: 110%;
  margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;
  text-transform: uppercase;
}
h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;}
h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}
h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

.header-padding:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}

body,
button,
input,
select,
textarea {
  font-size: 15px;
  line-height: 1.7;
  font-family: 'Noto Sans', sans-serif;
}

.rotating {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
