@media only screen and (min-width: 1000px) {
  .sidebar {
    top: 1rem;
    position: relative;
  }
}

.post-meta {
  padding: 20px;
  font-size: .75em;
  line-height: 20px;
  color: #757575;
}

.meta-block {
  float: left;
  margin: 5px 20px 5px 0;
  position: relative;
}
.meta-block a {
  color: #757575;
}
.post-date {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px;
}

.post-title {
  letter-spacing: 1px;
}

.meta-bar {
  padding-top:5px;
  padding-left:25px;
  background-color: #f8f8f8;
  color: #757575 !important;
  font-size: 1em;
  line-height: 25px;
  height:50px;
}
.page-title {
  letter-spacing: 1px;
  position: absolute;
  height: 150px;
  margin-left: 25px;
  color: #fff;
}

.read-more {
  line-height: 16px;
  display: block;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  color: #757575 !important;
}
.thumbnail-placeholder {
  width: 100%;
  height: 150px;
  background-color: $primary-color;
}
@media only screen and (max-width: 1080px) {
  .hide-on-small h3 {
    display: none;
  }

  .hide-on-small h1 {
    font-size: 1.5em;
  }
}
